.request {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.prompt {
    color: rgb(145, 145, 145);
    font-size: .7rem;
    min-width: 20px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
}

.newPrompt {
    font-size: .7rem;
    min-width: 20px;
    padding: 5px;
    color: rgb(70, 123, 230);
}

.response {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.response .prompt {
    color: rgb(145, 145, 145);
}

.line {
    border-top: 1px solid rgb(74, 76, 80);
    border-bottom: 1px solid rgb(74, 76, 80);
}

.code {
    color: rgb(214,214,214);
    font-size: .9rem;
    display: flex;
    align-items: center;
}