
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(74, 76, 80);
    width: fit-content;
    margin: 5rem auto;
}

.header {
    background: rgb(41, 42, 45);
}

.request {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.prompt {
    color: rgb(145, 145, 145);
    font-size: .7rem;
    min-width: 20px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
}

.newPrompt {
    font-size: .7rem;
    min-width: 20px;
    padding: 5px;
    color: rgb(70, 123, 230);
}

.response {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.response .prompt {
    color: rgb(145, 145, 145);
}

.line {
    border-top: 1px solid rgb(74, 76, 80);
    border-bottom: 1px solid rgb(74, 76, 80);
}

.code {
    color: rgb(214,214,214);
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.nav {
    color: rgb(145, 145, 145);
    display: flex;
    font-size: .9rem;
    min-height: 30px;
}

.nav * {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav .selected {
    background: black;
    color: rgb(235, 235, 235);
}

.yellow {
    color: rgb(206, 191, 102);
}

.title {
    text-align: center;
    color:rgb(145, 145, 145);
    margin-top: 50px;
}

.subtitle {
    color:rgb(70, 123, 230);
    text-align: center;
    margin-top: 10px;
}