
.container {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(50, 1fr);
    padding-bottom: 8px;
    padding-right: 8px;
}

.cell {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}